@import 'global-styles/globals.scss';

.cell {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;

  &--covered {
    background-color: $color-grey-09;
  }

  &--revealed {
    background-color: $color-grey-06;
  }

  &--exploded {
    background-color: $color-error;
  }

  &--flagged {
    background-color: pink;
  }
}
